//********************************* 
//* BASE 
//*********************************
html {
    font-size: 62.5%;
    @include less.box();
}

body { 
    min-inline-size: 106rem;
    block-size: 100vh;
    font: {
        family: abs.$main;
        size: 1.6rem;
    }
    background-color: map.get(abs.$clr, 'gray', '100');
}

* {
    margin: 0;
    padding: 0;
    @include less.box();
}

ul {
    padding: 0;
    list-style: none;
}

img { max-width: 100%; }

//********************************* 
//* TYPOGRAPHY 
//*********************************
a { text-decoration: none; }