//********************************* 
//* BASE 
//*********************************
html {
    font-size: 62.5%;
    @include less.box();
}

body { 
    min-inline-size: 120rem;
    block-size: 100vh;
    font: {
        family: abs.$main;
        size: 1.6rem;
    }
    background-color: map.get(abs.$clr, 'gray', '100');
    @media (prefers-color-scheme: dark) {
        // *NOTE*: In this case lightness must be less than the darkMode variable due to it makes the background look not as uniform as the other colors in the page.
        background-color: color.scale(map.get(abs.$clr, 'gray', '100'), $lightness: -5%);
    }
}

* {
    margin: 0;
    padding: 0;
    @include less.box();
}

ul {
    padding: 0;
    list-style: none;
}

img { max-width: 100%; }

//********************************* 
//* TYPOGRAPHY 
//*********************************
a { text-decoration: none; }